version: '0.1'
description: Generate dashboard for {{ dataset_name }}
class: PlotlyDashApplication
image: ""  # not implemented
script: {{ job_name }}.py

# dependencies:
#   - create-table-{{ dataset_name }}
